# Trabalho Prático 1 - Bioinformática

## Integrantes:
* Bruno Vieira - 2016058018
* Isabela Meneguci - 2016058328

In [8]:
import numpy as np
import pandas as pd

## Implementação da matriz BLOSSUM62

In [9]:
blosum62 = np.array ([
    [4, -1, -2, -2, 0, -1, -1, 0, -2, -1, -1, -1, -1, -2, -1, 1, 0, -3, -2, 0],
    [-1, 5, 0, -2, -3, 1, 0, -2, 0, -3, -2, 2, -1, -3, -2, -1, -1, -3, -2, -3],
    [-2, 0, 6, 1, -3, 0, 0, 0, 1, -3, -3, 0, -2, -3, -2, 1, 0, -4, -2, -3],
    [-2, -2, 1, 6, -3, 0, 2, -1, -1, -3, -4, -1, -3, -3, -1, 0, -1, -4, -3, -3],
    [0, -3, -3, -3, 9, -3, -4, -3, -3, -1, -1, -3, -1, -2, -3, -1, -1, -2, -2, -1],
    [-1, 1, 0, 0, -3, 5, 2, -2, 0, -3, -2, 1, 0, -3, -1, 0, -1, -2, -1, -2],
    [-1, 0, 0, 2, -4, 2, 5, -2, 0, -3, -3, 1, -2, -3, -1, 0, -1, -3, -2, -2],
    [0, -2, 0, -1, -3, -2, -2, 6, -2, -4, -4, -2, -3, -3, -2, 0, -2, -2, -3, -3],
    [-2, 0, 1, -1, -3, 0, 0, -2, 8, -3, -3, -1, -2, -1, -2, -1, -2, -2, 2, -3],
    [-1, -3, -3, -3, -1, -3, -3, -4, -3, 4, 2, -3, 1, 0, -3, -2, -1, -3, -1, 3],
    [-1, -2, -3, -4, -1, -2, -3, -4, -3, 2, 4, -2, 2, 0, -3, -2, -1, -2, -1, 1],
    [-1, 2, 0, -1, -3, 1, 1, -2, -1, -3, -2, 5, -1, -3, -1, 0, -1, -3, -2, -2],
    [-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1, 5, 0, -2, -1, -1, -1, -1, 1],
    [-2, -3, -3, -3, -2, -3, -3, -3, -1, 0, 0, -3, 0, 6, -4, -2, -2, 1, 3, -1],
    [-1, -2, -2, -1, -3, -1, -1, -2, -2, -3, -3, -1, -2, -4, 7, -1, -1, -4, -3, -2],
    [1, -1, 1, 0, -1, 0, 0, 0, -1, -2, -2, 0, -1, -2, -1, 4, 1, -3, -2, -2],
    [0, -1, 0, -1, -1, -1, -1, -2, -2, -1, -1, -1, -1, -2, -1, 1, 5, -2, -2, 0],
    [-3, -3, -4, -4, -2, -2, -3, -2, -2, -3, -2, -3, -1, 1, -4, -3, -2, 11, 2, -3],
    [-2, -2, -2, -3, -2, -1, -2, -3, 2, -1, -1, -2, -1, 3, -3, -2, -2, 2, 7, -1],
    [0, -3, -3, -3, -1, -2, -2, -3, -3, 3, 1, -2, 1, -1, -2, -2, 0, -3, -1, 4],
])

aminoacidos = ['A','R','N','D','C','Q','E','G','H','I','L','K','M','F','P','S','T','W','Y','V']

matriz_blosum = pd.DataFrame(data=blosum62, columns=aminoacidos)
matriz_blosum['*'] = aminoacidos
matriz_blosum.set_index('*', inplace=True)
matriz_blosum

   A  R  N  D  C  Q  E  G  H  I  L  K  M  F  P  S  T   W  Y  V
*
A  4 -1 -2 -2  0 -1 -1  0 -2 -1 -1 -1 -1 -2 -1  1  0  -3 -2  0
R -1  5  0 -2 -3  1  0 -2  0 -3 -2  2 -1 -3 -2 -1 -1  -3 -2 -3
N -2  0  6  1 -3  0  0  0  1 -3 -3  0 -2 -3 -2  1  0  -4 -2 -3
D -2 -2  1  6 -3  0  2 -1 -1 -3 -4 -1 -3 -3 -1  0 -1  -4 -3 -3
C  0 -3 -3 -3  9 -3 -4 -3 -3 -1 -1 -3 -1 -2 -3 -1 -1  -2 -2 -1
Q -1  1  0  0 -3  5  2 -2  0 -3 -2  1  0 -3 -1  0 -1  -2 -1 -2
E -1  0  0  2 -4  2  5 -2  0 -3 -3  1 -2 -3 -1  0 -1  -3 -2 -2
G  0 -2  0 -1 -3 -2 -2  6 -2 -4 -4 -2 -3 -3 -2  0 -2  -2 -3 -3
H -2  0  1 -1 -3  0  0 -2  8 -3 -3 -1 -2 -1 -2 -1 -2  -2  2 -3
I -1 -3 -3 -3 -1 -3 -3 -4 -3  4  2 -3  1  0 -3 -2 -1  -3 -1  3
L -1 -2 -3 -4 -1 -2 -3 -4 -3  2  4 -2  2  0 -3 -2 -1  -2 -1  1
K -1  2  0 -1 -3  1  1 -2 -1 -3 -2  5 -1 -3 -1  0 -1  -3 -2 -2
M -1 -1 -2 -3 -1  0 -2 -3 -2  1  2 -1  5  0 -2 -1 -1  -1 -1  1
F -2 -3 -3 -3 -2 -3 -3 -3 -1  0  0 -3  0  6 -4 -2 -2   1  3 -1
P -1 -2 -2 -1 -3 -1 -1 -2 -2 -3 -3 -1 -2 -4  7 -1 -1  -4 -3 -2
S  1 -1  1  0 -1  0  0  0 -1 -2 -2  0 -1 -2 -1  4  1  -3 -2 -2
T  0 -1  0 -1 -1 -1 -1 -2 -2 -1 -1 -1 -1 -2 -1  1  5  -2 -2  0
W -3 -3 -4 -4 -2 -2 -3 -2 -2 -3 -2 -3 -1  1 -4 -3 -2  11  2 -3
Y -2 -2 -2 -3 -2 -1 -2 -3  2 -1 -1 -2 -1  3 -3 -2 -2   2  7 -1
V  0 -3 -3 -3 -1 -2 -2 -3 -3  3  1 -2  1 -1 -2 -2  0  -3 -1  4

## Algoritmo de Needleman-Wunsch

In [39]:
def needleman_wunsch(seq_a, seq_b):
    n_linhas = len(seq_b) + 1
    n_colunas = len(seq_a) + 1
    matriz = np.zeros((n_linhas, n_colunas),)
    
    for i in range(n_linhas):
        if i == 0: 
            continue
        for j in range(n_colunas):
            if j == 0:
                continue
            if seq_b[i-1] == seq_a[j-1]:
                matriz[i,j] = matriz[i-1,j-1] + matriz_blosum.loc[seq_a[j-1], seq_b[i-1]]
            elif matriz[i,j-1] > matriz[i-1,j]:
                matriz[i,j] = matriz[i,j-1]
            else:
                matriz[i,j] = matriz[i-1,j]
            
    return pd.DataFrame(matriz)

In [40]:
seq_a = 'DRQTAQAAGTTTIT'
seq_b = 'DRNTAQLLGTDTT'

needleman_wunsch(seq_a, seq_b)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
2,0.0,6.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0
3,0.0,6.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0
4,0.0,6.0,11.0,11.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0
5,0.0,6.0,11.0,11.0,16.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0
6,0.0,6.0,11.0,16.0,16.0,20.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0
7,0.0,6.0,11.0,16.0,16.0,20.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0
8,0.0,6.0,11.0,16.0,16.0,20.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0
9,0.0,6.0,11.0,16.0,16.0,20.0,25.0,25.0,25.0,31.0,31.0,31.0,31.0,31.0,31.0
10,0.0,6.0,11.0,16.0,21.0,21.0,25.0,25.0,25.0,31.0,36.0,36.0,36.0,36.0,36.0
11,0.0,6.0,11.0,16.0,21.0,21.0,25.0,25.0,25.0,31.0,36.0,36.0,36.0,36.0,36.0
12,0.0,6.0,11.0,16.0,21.0,21.0,25.0,25.0,25.0,31.0,36.0,41.0,41.0,41.0,41.0
13,0.0,6.0,11.0,16.0,21.0,21.0,25.0,25.0,25.0,31.0,36.0,41.0,46.0,46.0,46.0